@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@600&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333740 
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333740;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

/*Remove underline for all the anchor tags in the header section*/
header, a {
    text-decoration: none;
}

/*Logo styling*/
.logo {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    color: #333740;
    font-size: 280%;
    letter-spacing: 3px;
    text-decoration: none;
}


.nav_links {
    list-style: none;
    margin-right: 90px;
}

.nav_links li {
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
}

.nav_links li a{
    color: #333740;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 100px;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #5AADBF;
}

#main-image-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#main-image-left {
    height: 600px;
    width: 33%;
    background-image: url(../images/main-image-left.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-left: 10px;
}

#main-image-mid {
    height: 600px;
    width: 33%;
    background-image: url(../images/main-image-mid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    animation-name: main-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main-image-right {
    height: 600px;
    width: 33%;
    background-image: url(../images/main-image-right.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Styling h3 heading in the hero image*/

.cover-text {
    /*font-size: 30px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;*/
    width: 600px;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(242, 173, 133, .2);
    bottom: 120px;
    left: 20px;
    position: absolute;
}

.cover-text, h2 {
    font-size: 40px;
    font-weight: 10%;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 5px;
}

.cover-text, h3 {
    font-size: 20px;
    padding-top: 50px;
    letter-spacing: 3px;
    padding-top: 5px;
}

/* creates zoom animation for hero image */
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

@keyframes main-zoom-out{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.85);
    }
}

